<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <div>
        <section class="banner">
            <h1 class="banner-text">Contact</h1>
        </section>
    </div>
    <div class="navbar">
        <div class="nav-button-container nav-button">
            Home
        </div>
        <div class="nav-button-container nav-button">
            about me
        </div>
        <div class="nav-button-container nav-button">
            contact
        </div>
        <div class="nav-button-container nav-button">
            blog
        </div>
        <div class="nav-button-container nav-button">
            projects
        </div>
    </div>
    <div class="back">
    
    </div>
    <script src="/test.js"></script>
</body>
</html>